/*#### general ####*/
    body {
        padding-top: 70px; /* Spazio per il header fisso */
    }

    body.backgroundColorSite {
        /*background-color: #907396;*/ /* Colore uniforme di sfondo */
        /*background-color: #3f2e56;*/
        background-color: #dadde7;
        /*color: black;*/
    }

    .text-white {
        color: white !important;
    }

    .text-gray{
        color: gray;
    }

    .text-cream{
        color: #EBEFBF;
    }

    .text-cream:hover{
        color: #eaf7cf;
        color: #c8cf7a;
    }

    .custom-link {
        /*color: #453F78;
        color: #9da2ab;*/
        color: #D664BE;
    }
    .custom-link:hover{
        text-decoration: none;
        /*color: #453F60;*/
        /*color: #907396;*/
        color: #401F3E;
    }

    .custom-link-game-article{
        color: #D664BE;
    }

    .custom-link-game-article:hover{
        color: #be41a3;
        text-decoration: none;
    }

    .custom-btn{
        background-color: transparent !important;
        border: 1px solid #D664BE !important;
    }
    .custom-btn:hover{
        /*background-color: #c750bf !important;*/
        background-color: #D664BE !important;
    }

    .decoration-test-none:hover{
        text-decoration: none;
    }

    .text-white-hover:hover{
        color: white;
    }

    .btn-confirm-custom {
        background-color: #453F78 !important;
        border: none !important;
        color: white !important;
    }

    .background-blue{
        background-color: #453F78;
    }

    /*#### Javascript ####*/
    .referenceForJSClone{
        display: none;
    }

    /*#### global articles ####*/
    .mainArticlesContainer{
        display: flex;
    }

    .article-item-animation{
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .article-item-animation:hover{
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    /* vedere se posso fare senza section davanti
    section.news {
        flex: 50%;
    }
    */

    /*
    .articles-section {
        flex: 50%;
    }
    */

    section.articles-section {
        flex: 50%;
    }

    .articles-list {
        display: flex;
        flex-direction: column;
    }

    article.article-item {
        background: #fff;
        margin-bottom: 20px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
    }
    
    article.article-item img {
        width: 250px;
        height: auto;
        margin-right: 20px;
    }
    
    article.article-item .article-content {
        flex: 1;
    }
    
    /*quello dell'esempio
    article.article-item .category {
        background: green;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        display: inline-block;
    }
    */

    /*article.article-item .category-NEWS*/
    .category-NEWS {
        background: orange;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        display: inline-block;
    }

    /*article.article-item .category-GUIDES*/
    .category-GUIDES {
        background: cadetblue;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        display: inline-block;
    }

    /*article.article-item .category-REVIEWS*/
    .category-REVIEWS {
        background: green;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    article.article-item h2 {
        margin: 10px 0;
        font-size: 20px;
        color: #401f3e;
    }
    
    article.article-item p {
        font-size: 16px;
        color: #777;
    }

    button.read-more {
        padding: 10px 15px;
        background: #f44336;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 16px;
    }
    
    button.read-more:hover {
        background: #d32f2f;
    }


    a.read-more {
        padding: 10px 15px;
        background: #f44336;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 16px;
    }
    
    a.read-more:hover {
        background: #d32f2f;
    }

    a.modify-button{
        padding: 10px 15px;
        background: chocolate;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 16px;
    }

    a.modify-button:hover {
        background: rgb(170, 90, 20);
    }


    a.delete-button{
        padding: 10px 15px;
        background: red;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 16px;
    }

    a.delete-button:hover {
        background: rgb(160, 7, 7);
    }

/*#### global games####*/
    .platform-games-section-PS4{
        background: #007bff;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .platform-games-section-PS5{
        background: blue;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .platform-games-section-XONE{
        background: #198754;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .platform-games-section-SERIES_X{
        background: green;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .platform-games-section-SERIES_S{
        background: #f8f9fa;
        color: black;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .platform-games-section-SWITCH{
        background: red;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .platform-games-section-PC{
        background: #6c757d;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .genre-games-section{
        background-color: brown;
        color: white;
        padding: 2px 5px;
        font-size: 14px;
        margin-bottom: 10px;
        display: inline-block;
    }

    
    /*#### genres aside ####*/
    .genres-aside {
        /*flex: 20%;
        background: #9da2ab;
        padding: 20px;
        margin-right: 20px;*/
        
        /*padding-left: 5%;*/

        padding-left: 3%;

        margin-right: 10px;

        /*padding-right: 5%;*/
    }
    
    .genres-aside h3 {
        color: #3f2e56;
        /*font-size: 20px;*/
        margin-top: 0;
    }
    
    .genres-aside ul {
        list-style: none;
        padding: 0;
    }
    
    .genres-aside ul li {
        background: #453f78;
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;

        /*width: 150%;*/
    }

    /*####aside team ####*/

    /*
    .staff-aside {
        flex: 20%;
        background: #9da2ab;
        padding: 20px;
        margin-right: 20px;
    }
    */

    .our-editorial-staff {
        /*background: #fff;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/

        /*padding-right: 5%;*/

        padding-right: 3%;

        margin-left: 10px;
    }
    
    .our-editorial-staff h3 {
        margin-top: 0;
        color: #3f2e56;
    }

    .our-editorial-staff ul {
        list-style: none;
        padding: 0;
    }
    
    .our-editorial-staff ul li {
        background: #453f78;
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;

        
    }


/*#### Header site ####*/

    /* main container */
    .header_navbar {
        border-bottom: 1px solid #d1d1d1;
        display: flex;
        justify-content: space-around;

        /*justify-content: space-between;*/

        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1030; /* Più alto di altri elementi della pagina */
        background-color:#401F3E;

        /*padding: 0 20px;*/

    }

    #header_logo_name{
        padding-left: 190px;
    }

    .header_navbar a{
        text-decoration: none;
        color: currentColor;
    }

    /*### Header site logo ###*/
    .header_logo {
        height: 70px;
    }

    .header_logo_name{
        height: 40px;
        /*margin: auto; /* Centratura automatica 
        justify-content: center;*/
    }

    /* Centratura del logo */
    .logo-name-container {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

/*### Header search & login ###*/

    .search-login-container {
        display: flex;
        align-items: center;
    }

    .search-input{
        width: 200px;
        height: 40px;
        margin-right: 10px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid white;
        /*border: 1px solid rgb(153, 153, 153);*/
        border-radius: 8px;
        background-color: transparent;
        color: white;
        outline: none;
    }

    .search-input::placeholder{
        color: white;
    }

    .btn-login-custom{
        /*background-color: #453F78 !important;
        border: none !important;*/
        /*border: 1px solid white !important;*/
        /*border: 1px solid #453F78 !important;*/
        border: 1px solid #D664BE !important;
        height: 40px !important;
        align-items: center;
    }

    .btn-login-custom:hover{
        /*background-color: #453F60 !important;*/
        /*background-color: #453F78 !important;*/
        background-color: #D664BE !important;
        /*border: none !important;*/
        color: white !important;
    }

    .btn-logout-custom{
        border: 1px solid red !important;
        height: 40px !important;
        align-items: center;
        margin-left: 10px;
    }
    .btn-logout-custom:hover{
        background-color: red;
        color: white !important;
    }


/*#### Settings ####*/
.settings-journalistImage {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    margin-left: 20px;
}



/*#### Login page ####*/
    body.login-background {
        /*background-image: url(/images/background/pizza.jpeg);*/
        background-color: #907396;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        /*transition: background-image 0.3s ease-in-out; /* serve davvero? */
    }

    .loginRegistrationDiv{
        background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 100%;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }


/*#### Registration Page ####*/
    .loginRegistrationDiv{
        background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 100%;
    }






/*#### Navbar ####*/

.container-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #401F3E;
    /*border-bottom: 1px solid #d1d1d1;
    padding: 0;*/
}

/*
.navbar {
    /*
    display: flex;
    justify-content: center;
    background-color: #401F3E;
    border-bottom: 1px solid #d1d1d1;
    
    margin: auto;
    padding: 0;
}

.navbar-nav {
    
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
*/


.nav-item {
    margin: 0 15px;
}


.nav-link {
    color: white;
    text-decoration: none;
    /*padding: 15px 0;*/
}

.nav-link:hover {
    text-decoration: underline;
    color: #D664BE;
}

/*
.dropdown-menu {
    background-color: #401F3E;
    border: none;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #453F78;
    color: white;
}
*/


/*### Header account drop down menu ###*/

        /* Stili di base per il menu */
        .header_account_menu {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            display: flex;
            align-items: center;
        }

        .header_account_menu > li {
            position: relative;
        }

        .header_account_dropDownMenu {
            list-style: none;
            padding: 10px;
            margin: 0;
            position: absolute;
            top: 100%;
            /*left: 0;
            margin-left: auto;
            margin-right: auto;*/
            left: -30px; /*per spostare un po' a sinistra*/
            /*left: -50%;*/
            /*left: 50%;*/
            /*transform: translate(-50%, 0);*/

            /*background-color: #453F78;*/
            background-color: #401F3E;
            /*background-color: #907396;*/
            /*background-color: #D664BE;*/

            border-radius: 8px; /* Bordi arrotondati */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
            display: none; /* Nasconde il menu */ /*se rimosso avviene l'animazione, ma parte quando si passa dov'e' nascosto*/
            opacity: 0; /* Imposta opacità a 0 per animazione */
            transition: opacity 0.3s ease, transform 0.3s ease; /* Animazione di transizione */
            transform: translateY(-10px); /* Sposta leggermente verso l'alto per animazione */
            z-index: 1000; /* Imposta l'indice z per il menu a tendina */
        }

        .header_account_menu > li:hover .header_account_dropDownMenu {
            display: block; /* Mostra il menu al passaggio del mouse */
            opacity: 1; /* Imposta opacità a 1 per animazione */
            transform: translateY(0); /* Ripristina la posizione per animazione */
        }

        .header_account_dropDownMenu li {
            padding: 10px;
            /*padding: 5px;*/
        }

        .header_account_dropDownMenu li a {
            text-decoration: none; /* Rimuove la sottolineatura */
            /*color: #333; /* Colore del testo */
            color: white;

            display: block; /* Imposta l'ancora come blocco */
            transition: background-color 0.3s, color 0.3s; /* Animazione di transizione per colore e sfondo */
        }

        .header_account_dropDownMenu li a:hover {
            /*background-color: #f0f0f0;*/ /* Colore di sfondo al passaggio del mouse */
            /*color: #007bff;*/ /* Colore del testo al passaggio del mouse */

            /*background-color: rgb(223,205,54);
            color: white;
            */
            /*color: #401F3E;*/
            /*color: #453F78;*/
            /*color: #907396;*/
            /*color: #EBEFBF;*/
            /*color: #0056b3;*/
            color: #D664BE;
            /*border-radius: 5px;*/ /* Bordi arrotondati */
        }

        #logout:hover {
            color: red;
            /*color: white;*/
            /*border-radius: 5px;*/ /* Bordi arrotondati */
        }


        .header_account_dropDownMenu form {
            margin: 0;
        }

        /*
        .header_account_dropDownMenu form input[type="submit"]:hover {
            background-color: #f0f0f0;
            color: #007bff;
        }
        */

/*#### sub navbar dropDown ####*/

#subNavbar_dropDown_Tag{
    left: 0;
}

#subNavbar_dropDown_Platform{
    left: 25px;
}

/*#### Courosel Home Page ####*/

.carousel-image {
    height: 500px; 
    width: 100%;
    object-fit: cover; /* Questo mantiene le proporzioni dell'immagine e riempie l'elemento */
}

/*#### Articole principal image ####*/
.principal-image-article{
    height: 300px; 
    width: 80%;
    padding-left: 20%;
    object-fit: cover; /* Questo mantiene le proporzioni dell'immagine e riempie l'elemento */
}


/*#### Form ####*/
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-control {
        margin-bottom: 1rem;
    }


    .form-control-file {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        color: white;
    }

    .custom-control-input:checked~.custom-control-label::before {
        background-color: #401F3E !important;
        border: none !important;
    }

/*#### News page ####*/

    .game-news, .latest-posts {
        padding: 40px 0;
    }

    .game-news h2, .latest-posts h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .game-cards, .post-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .game-card, .post-card {
        background-color: #453F78;
        margin: 10px;
        padding: 20px;
        flex: 1 1 calc(33.333% - 40px);
        box-sizing: border-box;
        text-align: center;
    }

    .game-card img, .post-card img {
    max-width: 100%;
    height: auto;
    }

/*#### all article ####*/
    .articleImageMiniature{
        max-width: 200px;
        max-height: 200px;
        object-fit: cover;
    }

    .important-text-container{

        background-color: #dadde7;
        padding: 10px;
        border-radius: 8px;
        word-wrap: break-word;
    }




/*#### Recensione voto gamepage ####*/

.container-custom{
    /*background-color: #453F78;*/
    background-color: #401F3E;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;

    /*width: 300px;*/
}

.review-container {
    /*background-color: #453F78;*/
    background-color: #401F3E;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;

    justify-content: space-around;
}

.img-game {
    max-width: 100%;
    height: auto;
}

.platforms {
    /*color: #ff4c4c;*/
    color: #D664BE;
}

.rating-container {
    /*background-color: #262626;*/
    /*background-color: #EBEFBF;*/
    /*background-color: #70a288;*/
    /*background-color: #ece2d0;*/
    background-color: #dadde7;
    padding: 10px;
    border-radius: 8px;

    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
    
    
}

/*
.comment-container{
    background-color: #ece2d0;
    padding: 10px;
    border-radius: 8px;
    justify-content: space-around;
}*/

.rating-container .row {
    width: 100%;
    /*sembra non servano questi tre*/
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/

    width: 100%;
    margin: 0;
}

.rating-container p {
    margin: 0;
}

.rating {
    font-size: 2em;
    margin: 0;
}

.freshGame {
    /*color: #401F3E;*/
    color: #D664BE;
}

.readers {
    color: #1e90ff;
}

.readers-count {
    background-color: #1e90ff;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
}

.journalist-count{
    /*background-color: #401F3E;*/
    background-color: #D664BE;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
}

.slider-container {
    /*margin-top: 10px;
    display: flex;
    justify-content: center;*/
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.custom-slider {
    width: 80%;
    /*width: 100%;*/
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    /*background: #ddd;*/
    background: black;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ff4c4c;
    cursor: pointer;
}

.custom-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ff4c4c;
    cursor: pointer;
}


.review-text-container{
    background-color: #ece2d0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: absolute;
    left: 0;
    transform: translate(100%, 10%); interno*/
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


.btn-platform-PS4{
  /*background-color: blue !important;*/
  background-color: transparent !important;
  border: 1px solid #007bff !important;
}
.btn-platform-PS4:hover{
    background-color: #007bff !important;
}

.btn-platform-PS5{
    /*background-color: blue !important;*/
    background-color: transparent !important;
    border: 1px solid blue !important;
}  
.btn-platform-PS5:hover{
    background-color: blue !important;
}

.btn-platform-XONE{
    background-color: transparent !important;
    border: 1px solid #198754 !important;
}
.btn-platform-XONE:hover{
    background-color: #198754 !important;
}

.btn-platform-SERIES_X{
    /*background-color: green !important;*/
    background-color: transparent !important;
    border: 1px solid green !important;
}
.btn-platform-SERIES_X:hover{
    background-color: green !important;
}

.btn-platform-SERIES_S{
    background-color: transparent !important;
    border: 1px solid #f8f9fa !important;
}
.btn-platform-SERIES_S:hover{
    background-color: #f8f9fa !important;
    color: black !important;
}

.btn-platform-SWITCH{
    background-color: transparent !important;
    border: 1px solid red !important;
}
.btn-platform-SWITCH:hover{
    background-color: red !important;
}

.btn-platform-PC{
    background-color: transparent !important;
    border: 1px solid #6c757d !important;
}
.btn-platform-PC:hover{
    background-color: #6c757d !important;
}


/*#### journalist page ####*/
.course-icon {
    height: 200px; /* Altezza desiderata per le icone */
    width: 200px; /* Larghezza desiderata per le icone */
    background-color: #6c757d;
    border-radius: 50%;
    margin-bottom: 20px;
}

/*#### button ####*/
.course-btn {
    /*background-color: #6c757d;*/
    border: 1px solid #D664BE !important;
    color: white !important;
}
.course-btn:hover {
    /*background-color: #5a6268;*/
    background: #D664BE;
    /*color: black !important;*/
}