<!DOCTYPE html>
<html>
<head>
    <title>FreshGame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles2.css?version=3"/>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="backgroundColorSite">

    <header class="header_navbar">
        <div class="logo-container">
            <a href="/"><img src="/images/logo/logo-icon.png" class="header_logo" alt="Logo"/></a>
        </div>
        <div class="logo-name-container" > <!--style="justify-content: center;"-->
            <a href="/"><img src="/images/logo/logo-name.png" class="header_logo_name" alt="Logo name"/></a>
        </div>
        <div class="search-login-container">
            <form action="/search" method="get">
                <input type="search" name="query" class="search-input" placeholder="Search...">
            </form>
            <a th:if="${accountRole == 'ROLE_ANONYMOUS'}" href="/loginPage" class="btn btn-login-custom">Accedi</a>
            <a th:if="${accountRole != 'ROLE_ANONYMOUS'}" class="btn btn-login-custom" th:text="${userDetails.username}">_Username_</a>
        </div>
    </header>

    <div class="container-navbar nav-scroller py-1 mb-3 border-bottom" style="background-color: #401F3E;">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis active" href="#">Giochi</a>
            <a class="nav-item nav-link link-body-emphasis active" href="#">Guide</a>
            <a class="nav-item nav-link link-body-emphasis active" href="#">Recensioni</a>
        </nav>
    </div>
</body>
</html>