<!DOCTYPE html>
<html>
    <head>
        <title>All Article-FreshGame</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/styles.css?version=3"/>

        <!--bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
    </head>

    <body class="backgroundColorSite">

        <header class="header_navbar">
            <a href="/" ><img src="/images/logo/logo-icon.png" class="header_logo" id="header_logo" alt="Logo"/></a>

            <a href="/" ><img src="/images/logo/logo-name.png" class="header_logo_name" id="header_logo_name" alt="Logo name"/></a>

            <div class="search-login-container">
                <form action="/search" method="get">
                    <input type="search" name="query" class="search-input" placeholder="Search...">
                </form>

                <a th:if="${accountRole == 'ROLE_ANONYMOUS'}" href="/loginPage" class="btn btn-login-custom text-white">Accedi</a>

                <nav th:if="${accountRole != 'ROLE_ANONYMOUS'}">
                    <ul class="header_account_menu">
                        <li>
                            <div class="btn btn-login-custom">
                                <span th:text="${userDetails.username}" class="text-white">_Username_</span>
                            </div>
                            <ul class="header_account_dropDownMenu">
                                <li>
                                    <a href="#">Impostazioni</a>
                                </li>
                                <li>
                                    <a href="#">Recensioni</a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a href="/logout" id="logout">Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>

        
        <div class="container-navbar nav-scroller py-1 border-bottom" style="background-color: #401F3E;"> <!--tra le class: mb-3 ma crea lo spazio sotto-->
            <nav class="nav nav-underline justify-content-between">
                <!--<a class="nav-item nav-link link-body-emphasis active" href="/all/allNewsPage">News</a>
                <a class="nav-item nav-link link-body-emphasis active" href="#">Guide</a>
                <a class="nav-item nav-link link-body-emphasis active" href="#">Recensioni</a>-->
                <!--<a class="nav-item nav-link link-body-emphasis active" href="/all/allArticlesPage">Global</a>-->

                <ul class="header_account_menu">
                    <li>
                        <span class="nav-item nav-link link-body-emphasis active">Tag</span>
                        <ul class="header_account_dropDownMenu" id="subNavbar_dropDown">
                            <li th:each=" tag : ${tags}">
                                <a th:href="@{ '/all/allSpecificTagPage' + '/' + ${tag} }" th:text="#{ ${tag} }">_tag_</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!--<a th:each=" tag : ${tags}" class="nav-item nav-link link-body-emphasis active" th:href="@{ '/all/allSpecificTagPage' + '/' + ${tag} }" th:text="#{ ${tag} }">_tag_</a>-->
                <a class="nav-item nav-link link-body-emphasis active" href="#">Giochi</a>
                <ul class="header_account_menu">
                    <li>
                        <span class="nav-item nav-link link-body-emphasis active">Piattaforme</span>
                        <ul class="header_account_dropDownMenu" id="subNavbar_dropDown">
                            <li th:each=" platform : ${platforms}">
                                <a href="#" th:text="${platform}">_platform_</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a class="nav-item nav-link link-body-emphasis active" href="#">Generi</a>
                <!--<a class="nav-item nav-link link-body-emphasis active" href="#">Piattaforme</a>-->
            </nav>
        </div>

        <main>
            <section class="game-news">
                <div class="container">
                    <h2>Tutti gli articoli</h2>
                    <div th:if="${articles == null || articles.isEmpty()}">Non ci sono notizie</div>
                    <div class="game-cards">
                        <div th:each="article : ${articles}" class="game-card">
                            <h3 th:text="${article.title}">_title_</h3>
                            <img th:unless="${article.imagesBase64 == null || article.imagesBase64.isEmpty()}"
                                th:src=" 'data:image/;base64,' + ${article.imagesBase64[0]} " class="articleImageMiniature" alt="${article.title}">
                            <h5 th:text="${article.introduction}">_introduction_</h5>
                            <span th:text="${#temporals.format(article.dateTime, 'dd-MM-yyyy')}">_date_</span> <!--stampo solo la data-->
                            <span th:text="${article.journalist.name} + ' ' + ${article.journalist.surname}">_journalistNameAndSurname_</span> <!--da far diventare collegamenti-->
                            <span th:text="${article.game.name}">_nameGame_</span> <!--da far diventare collegamenti-->
                            <p>
                                <span th:each="tag : ${article.tags}" th:text="${tag} + '&emsp;' ">_tag_</span> <!--da far diventare collegamenti-->
                            </p>
                        </div>
                        <!--<div class="game-card">
                            <img src="game2.jpg" alt="Game 2">
                            <h3>Action dummy text of the printing type setting games 2022</h3>
                            <p>February 26, 2022</p>
                        </div>
                        <div class="game-card">
                            <img src="game3.jpg" alt="Game 3">
                            <h3>Top 10 Best Computer games in the Marking agency near 2018 games</h3>
                            <p>February 26, 2022</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>


