<!DOCTYPE html>
<html>
    <head>
        <title>All News - FreshGame</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/styles.css?version=3"/>

        <!--bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
    </head>

    <body class="backgroundColorSite">

        <header class="header_navbar">
            <a href="/" ><img src="/images/logo/logo-icon.png" class="header_logo" id="header_logo" alt="Logo"/></a>

            <a href="/" ><img src="/images/logo/logo-name.png" class="header_logo_name" id="header_logo_name" alt="Logo name"/></a>

            <div class="search-login-container">
                <form action="/search" method="get">
                    <input type="search" name="query" class="search-input" placeholder="Search...">
                </form>

                <a th:if="${accountRole == 'ROLE_ANONYMOUS'}" href="/loginPage" class="btn btn-login-custom text-white">Accedi</a>

                <nav th:if="${accountRole != 'ROLE_ANONYMOUS'}">
                    <ul class="header_account_menu">
                        <li>
                            <div class="btn btn-login-custom">
                                <span th:text="${userDetails.username}" class="text-white">_Username_</span>
                            </div>
                            <ul class="header_account_dropDownMenu">
                                <li>
                                    <a th:href="@{ '/logged/settingsPage/' + ${loggedId} + '/' + ${accountRole} }">Impostazioni</a>
                                </li>
                                <li>
                                    <a href="/journalist/personalPage">Pagina Personale</a>
                                </li>
                                <li th:if="${accountRole == 'JOURNALIST'}">
                                    <a href="/journalist/createArticlePage">Crea Articolo</a>
                                </li>
                                <li th:if="${ accountRole == 'JOURNALIST' || accountRole == 'EDITOR'}">
                                    <a href="/journalist_editor/addGamePage"> Aggiungi un gioco</a>
                                </li>
                                <li th:if="${ accountRole == 'EDITOR' }">
                                    <a href="/all/allJournalistPage"> Tutti i giornalisti</a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a href="/logout" id="logout">Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>

        <!--navbar sottostante-->
        <div class="container-navbar nav-scroller py-1 border-bottom" style="background-color: #401F3E;"> <!--tra le class: mb-3 ma crea lo spazio sotto-->
            <nav class="nav nav-underline justify-content-between">

                <ul class="header_account_menu">
                    <li>
                        <span class="nav-item nav-link link-body-emphasis active">Tag</span>
                        <ul class="header_account_dropDownMenu" id="subNavbar_dropDown_Tag">
                            <li th:each=" tag : ${tags}">
                                <a th:href="@{ '/all/allSpecificTagPage' + '/' + ${tag} }" th:text="#{ ${tag} }">_tag_</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a class="nav-item nav-link link-body-emphasis active" href="/all/allGamesPage">Giochi</a>
                <ul class="header_account_menu">
                    <li>
                        <span class="nav-item nav-link link-body-emphasis active">Piattaforme</span>
                        <ul class="header_account_dropDownMenu" id="subNavbar_dropDown_Platform">
                            <li th:each=" platform : ${platforms}">
                                <a th:href=" '/all/platformPage/' + ${platform} " th:text="${platform}">_platform_</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="container mt-5 container-custom">
            <h2 class="text-center text-white" th:text="#{ ${specificTag} }">_tag_</h2>
            <div th:if="${ allArticlesWithTag == null || allArticlesWithTag.isEmpty() }" class="alert alert-warning text-center" th:text=" 'Non sono presenti ' + #{${specificTag}} + ' nel sistema.' ">_noTag_</div>
            <section class="articles-section">
                <div class="articles-list">
                    <article th:unless="${allArticlesWithTag == null || allArticlesWithTag.isEmpty()}" th:each=" article : ${allArticlesWithTag}" class="article-item article-item-animation">
                        <img th:src=" 'data:image/;base64,' + ${article.imagesBase64[0]}" th:alt="${article.title} + ' foto' ">
                        <div class="article-content">
                            <span th:each=" tag : ${article.tags}"><a th:href="@{ '/all/allSpecificTagPage' + '/' + ${tag} }" th:class=" 'decoration-test-none ' + 'text-white-hover ' + 'category-' + ${tag} " th:text="#{ ${tag} } ">_tag_</a>&ensp;</span>&ensp; <!--da mettere più categorie-->
                            <span><strong><a th:href=" '/all/gamePage/' + ${article.game.id} " class="custom-link" th:text="${article.game.name}"></a></strong></span>
                            <p><strong th:text="${#temporals.format(article.dateTime, 'dd-MM-yyyy')}">_articleDate_</strong> di <a th:href="@{ '/all/journalistPage/' + ${article.journalist.id} }" class="custom-link"><span th:text="${article.journalist.name} + ' ' + ${article.journalist.surname} ">_journalistNameAndSurname_</span></a> </p> <!--0 Comments 2 minutes read dentro le p-->
                            <h2><a th:href="@{ '/all/articlePage/' + ${article.id} }" th:text="${article.title}" class="custom-link">_titleArticle_</a></h2>
                            <p th:text="${article.introduction}" style="max-width: 60%;">_introductionArticle_</p>
                            <a th:href="@{ '/all/articlePage/' + ${article.id} }" class="read-more decoration-test-none text-white-hover">Leggi di più</a>
                        </div>
                    </article>
                </div>
            </section>
        </div>

    </body>
</html>


